@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?9xaor5');
    src: url('fonts/icomoon.eot?9xaor5#iefix') format('embedded-opentype'),
         url('fonts/icomoon.ttf?9xaor5') format('truetype'),
         url('fonts/icomoon.woff?9xaor5') format('woff'),
         url('fonts/icomoon.svg?9xaor5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\e947";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-user:before {
    content: "\e971";
}
.icon-wrench:before {
    content: "\e991";
}
.icon-stats-bars:before {
    content: "\e99c";
}
.icon-eye:before {
    content: "\e9ce";
}
.icon-heart:before {
    content: "\e9da";
}
